<div class="sticky" data-options="">
  <nav class="top-bar" data-topbar=""> 
    <ul class="title-area"> 
      <li class="name"> 
        <h1><a href="?">EpisodeGuide</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li> 
    </ul>
    
    <section class="top-bar-section" id="search-area"> 
    <!-- Right Nav Section --> 
      <form method="get" action="">
        <input type="hidden" name="page" value="search" /> 
        <input type="text" name="searchquery" placeholder="Search shows"> 
      </form>
    </section>

    <ul class="right"> 
      <li class="name button" id="login-button"> 
        <h2><a href="#">Login</a></h2>
      </li>
    </ul>
  </nav>

  <!-- For small screens -->
  <nav class="top-bar show-for-small-only" data-topbar=""> 
    <ul class="title-area" style="width: 100%"> 
      <li class="name"> 
        <h1 ><a href="?">[Logo]</a></h1>
      </li>
      <li class="has-form"> 
        <div class="row collapse"> 
          <div class="small-3 columns">
            <form method="get" action="">
              <input type="hidden" name="page" value="search" /> 
              <input type="text" name="searchquery" placeholder="Search shows"> 
          </div> 
          <div class="small-2 columns">
            <input type="submit" value="Search" class="alert button expand">
            </form>
          </div>
        </div>
      </li>
    
      <li class="has-form">
        {{#if loggedin }}
        <a href="#" id="reg" class="small button">Account</a>
        {{else}}
        <a href="#" id="reg" class="small button">Login</a>
        {{/if}}
      </li> 
    </ul>

  </nav>
  </form>
  </div>