<h2>Channel</h2>

<form {{action save on="submit"}}>
  
  <p>
    <label for="country_id">Country id</label><br>
    {{view Ember.TextField valueBinding="country_id" id="country_id"}}
  </p>
  
  <p>
    <label for="name">Name</label><br>
    {{view Ember.TextField valueBinding="name" id="name"}}
  </p>
  
  <p>
    <button type="submit">Save</button>
  </p>

</form>

