<div class="progress progress-striped browse-item-rating-progress topbar" id="browse-show-rating-progress">
  
  <div class="progress-bar progress-bar-info" style="width: 100%">
    
  </div>

</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6" class="loginpage-loginform-div">
				{{partial 'loginForm'}}
		</div>
		<div class="col-lg-6" class="loginpage-signupform-div">
				{{partial 'signupForm'}}
		</div>
	</div>

</div>
