<div id="login-overlay">
  	<div class="login-form">
  		<form class="form-inline">
  			{{input value=username type="text" placeholder="Username"}}
  			{{input value=password type="password" placeholder="Password"}}
  			{{input class="button" type="submit" id="login-overlay-button" value="Log in"}}
  		</form>
  	</div>
  </div>

