<div class="row">
	<div class="col-lg-12">
		<h2>Do you have an account...</h2>
	</div>
</div>
<div class="row">
	<form class="form-inline" id="login-form" {{action authenticate on='submit'}}>
  	<div class="col-lg-5 loginusername-area">
  		{{input id='identification' placeholder='Enter Login' class='form-control' value=identification focus-out='validateLoginEmail' }}
  		
  	</div>
  	<div class="alert alert-warning col-lg-4 alert-dismissable" style="display:none;margin:auto auto;" id="emailwarning"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><b>Oh come on.. :( Your email sucks, man</div>
</div>
<div class="row">
  	<div class="col-lg-5 loginpw-area">
  		{{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password}}

  	</div>
</div>
<div class="row">
  	<div class="col-lg-5">
  		{{#if loginFailed }}
  		<div class="alert alert-danger alert-dismissable">
  			<p>Login failed :( Try again?</p>
  		</div>
  		{{/if}}
  		
  		<button class="btn btn-info" {{action authenticate}}>Log in</button>

  	</div>
</form>
</div>