<div class="row">
	<div class="col-lg-12">
		<h2>Do you have an account...</h2>
	</div>
</div>
<div class="row">
	<form class="form-inline" {{action 'authenticate' on='submit'}}>
  	<div class="col-lg-5 loginusername-area">
  		{{input value=username type="text" placeholder="E-mail" value=loginEmail}}
  	</div>
</div>
<div class="row">
  	<div class="col-lg-5 loginpw-area">
  		{{input value=password type="password" placeholder="Password" value=loginPassword}}
  	</div>
</div>
<div class="row">
  	<div class="col-lg-5">
  		<button class="btn btn-info" {{action "verifyLoginForm"}}>Log in</button>
  	</div>
</form>
</div>