<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

	    <div> 
	        {{#if session.isAuthenticated}}
	        <button class="btn navbar-btn btn-danger btn-lg login-btn"{{ action 'invalidateSession' }}>Log out</button>
	        {{else}}
	        {{#link-to-animated "login" animations='main:slideRight'}}<button class="btn navbar-btn btn-primary btn-lg login-btn">Log in</button>{{/link-to-animated}}
	        {{/if}}
	    </div>
	    <div class="navbar-header col-lg-12 navbar-btn">
		    <ul id="sidebar-icons">
				<!-- Link to index -->
				<li data-toggle="tooltip" data-placement="right" title="All shows" data-original-title="All shows">
					{{#link-to-animated 'index' animations='main:slideOverRight'}}
						<div data-icon="&#xe078;" class="icon navlink" style="color:white;"></div>
					{{/link-to-animated}}
				</li>
				
				<!-- Link to calendar view -->
				<li data-toggle="tooltip" data-placement="right" title="New episodes" data-original-title="New episodes">
				{{#link-to-animated 'calendar' animations='main:slideOverRight' }}
					<div data-icon="&#xe021;" class="icon navlink" style="color:white;"></div>
				{{/link-to-animated}}
				</li>
				
				<!-- Link to watched shows -->
				<li data-toggle="tooltip" data-placement="right" title="The shows you follow" data-original-title="The shows you follow">
					{{#link-to-animated 'watched' animations='main:slideOverRight'}}
						<div data-icon="&#xe067;" class="icon navlink" style="color:white;"></div>
					{{/link-to-animated}}
				</li>
				
				<!-- Link to Account settings -->
				<li data-toggle="tooltip" data-placement="right" title="Your account settings" data-original-title="Your account settings">
					{{#link-to-animated 'account' animations='main:slideOverRight'}}
						<div data-icon="&#xe027;" class="icon navlink" style="color:white;"></div>
					{{/link-to-animated}}
				</li>
				
				<!-- Link to info page -->
				<li data-toggle="tooltip" data-placement="right" title="Help, if you need" data-original-title="Help, if you need">
					{{#link-to-animated 'info' animations='main:slideOverRight'}}
					<div data-icon="&#xe072;" class="icon navlink" style="color:white;"></div>
					{{/link-to-animated}}
				</li>
			</ul>
			{{#link-to "index" class="navbar-brand" id="navbar-brand"}} {{App.name}} {{/link-to}}
		</div>

  </nav>