<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

	    <div> 
	        {{#if session.isAuthenticated}}
	        <button class="btn navbar-btn btn-danger btn-lg login-btn"{{ action 'invalidateSession' }}>Log out</button>
	        {{else}}
	        {{#link-to-animated "login" animations='main:slideRight'}}<button class="btn navbar-btn btn-primary btn-lg login-btn">Log in</button>{{/link-to-animated}}
	        {{/if}}
	    </div>
	    <div class="navbar-header col-lg-2 navbar-btn">
		    <ul id="sidebar-icons">
				<li>{{#linkTo 'index'}}<div data-icon="&#xe078;" class="icon"></div>{{/linkTo}}</li>
				<li><div data-icon="&#xe021;" class="icon"></div></li>
				<li><div data-icon="&#xe067;" class="icon"></div></li>
				<li><div data-icon="&#xe072;" class="icon"></div></li>
			</ul>
			{{#linkTo "index" class="navbar-brand" id="navbar-brand"}} {{App.name}} {{/linkTo}}
		</div>

  </nav>