body{
  background: url(../img/stripes.png) repeat;
}

h1, h2, h3, h4, h5, h6 
{
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #FCFCFC;
    text-rendering: optimizelegibility;
    line-height: 1.4;
}

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 
{
  color: #222;
}

.seethrough h1, .seethrough h2, .seethrough h3, .seethrough h4, .seethrough h5, .seethrough h6 
{
  color: #FCFCFC;
}



/* AJAX loader -- place in center */
.loader
{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -64px;
  margin-top: -7px;
}

#content
{
    padding: 25px;
}

/* remove codrops styles and reset the whole thing */
#container{
   text-align: left;
   margin: 0;
   padding: 0;
   margin: 0 auto;
   font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
   border-bottom: 10px solid #555;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
  display: none;
}



/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
  color: rgb(190, 188, 188); 
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
  color: rgb(190, 188, 188);
  font-style: italic;
} 
input {
  outline: none;
}

#wrapper
{
  position: relative;
}

/* Generic types & classes */
input[type="text"],input[type="password"]{
  padding: 10px 5px 10px 32px;  
  border: 1px solid rgb(178, 178, 178);
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
         box-sizing : content-box;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
     -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
          box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
  font-size: 1em;
}

input[type="password"].form-control
{
  width: auto; 
}

.center
{
  float: none;
  margin: auto auto;
}



/** 
 ** Episode grid
 **
 */
  .browse-list h5
  {
      background: #000;
      opacity: 0.5;
      width: 100%;
      height: 2em;
      margin-top: -2em;
      color: white;
      padding: 5px;
      padding-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }

  .browse-item
  {
      width: 14em;
      margin: 5px;
  }

  #watched .browse-item
  {
    box-shadow: 3px 4px 10px;
  }

 div.browse-item img, img.detailsimg
 {
  width:100%;
 }

 div.browse-item-actions
 {
  margin-top: -11px;
 }

 div.browse-item-actions .follow-button
 {
  background: #00BA75;
  width: 60%;
  margin: 0px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
 }

 div.browse-item-actions .follow-button-grey
 {
  background: #8FA58E;
  color: white;
  width: 60%;
  margin: 0px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
 }

 div.browse-item-actions .read-more-button
 {
  width: 40%;
  margin: 0px;
  float:left;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  padding-left: 18px;
  cursor: text;
 }

 div.browse-item .progress-bar-success
 {
  background-color: #00BA75;
 }

 div.browse-item-rating-progress
 {
  padding: 0px;
  margin: 0px;
 }

 div.browse-item-rating
 {
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 2px;
 }

div.browse-item-splitter
{
  margin-top: -1px;
}

 div.clear
 {
  clear: both;
 }



  label.title
  {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
  }

  img.grayscale
  {
    filter: url(../img/bw_filter.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }

  img.grayscale:hover
  {
    filter: none;
    -webkit-filter: grayscale(0);
  }

  /**
   ** For updated search field & navbar 
   **/
   div.navbar-header
   {
    float:left;
   }
   div.topbar
   {
    border-bottom: 1px solid #999;
   }

   div#browse-show-rating, div.browse-show-rating-progress
   {
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
   }

   nav.navbar
   {
    z-index: 10000;
    width: 7.5%;
    height: 100%;
    border-right: 1px solid #252525;
   }
   nav.navbar a#navbar-brand
   {
    margin-top: 7px;
    margin-left: -16px;
   }

   nav.navbar .login-btn
   {
    float: right;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    padding-top: 21px;
    padding-right: 21px;
    padding-left: 21px;
    margin-left: 0px;

   }

   nav.navbar .navbar-header ul#sidebar-icons
   {
    float: left;
    list-style-type: none;
    color: white;
    font-size: 4em;
    padding: 10px;
    margin: auto auto;
    padding-left: 5px;
   }

   @media (max-width: 960px) { 

    nav.navbar .navbar-header ul#sidebar-icons
    {
      padding-left: 0px;
    }
    nav.navbar .navbar-header ul#sidebar-icons
    {
      font-size: 2em;
    }
    nav.navbar a#navbar-brand
    {
      font-size: 1em;
      padding-left: 5px;
    }

    nav.navbar .login-btn
    {
      padding-left: 3px;
      font-size: 1.2em;
    }

}


   nav.navbar .navbar-header ul#sidebar-icons li
   {
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
    height: 1em;
    padding-bottom: 1.5em;
   }

   nav.navbar .navbar-header ul#sidebar-icons li:first-child
   {
    border-top: none;
   }

   nav.navbar .navbar-header ul#sidebar-icons li:hover
   {
    color: white;
   }

   div#search-area
   {
    padding: 0px;
   }
   div#search-area input[type="text"]
   {
    height: 50px;
    border: none;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    font-size: 3em;
    background: #484848;
    width: 99%;
    padding: 10px;
    padding-right:0px;
    margin-left: 0px;
    width: 99%;
   }

   

   div#login-overlay
   {
      background-color: #6b6b6b;
      width: 20em;
      padding: 1em;
      /* border: 1px solid #ccc; */
      position: fixed;
      right: 0px;
      display: none;
      padding-bottom: 0px;
      box-shadow: 1px 1px 15px 5px;
      z-index: 9999;
      top: 67px;
   }
   div#login-overlay input[type="text"],div#login-overlay input[type="password"]
   {
    width: 87%;
   }
   div#login-overlay #login-overlay-button
   {
    width: 87%;
    
    font-size: 2em;
    font-family: Helvetica;
    line-height: 0.5;
   } 

   /** Content should be adjusted slightly to the right **/
   div#page-content
   {
    position:relative;
    margin-left: 7%;
   }

   div#page-content .container
   {
    width: 100%;
    margin:0px;
    padding: 3em;
    float: left;
    background: #FFF;
   }

   div#page-content .seethrough
   {
    background: transparent;
   }

   div.browse-item div.progress
   {
    border: none;
   }
   div#browse-show-rating-progress
   {
    height: 71px;
    margin-left: 0;
    margin-top: -1px;
    width: 100%;
   }

   div#browse-show-rating
   {

    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 20px;
    font-size: 5em;
   }


   div.loginpage-loginform-div
   {

   }


   div.loginpage-signupform-div
   {
    margin-left:-100px;
    padding-left: 50px;
    border-left: 1px solid #999;
   }


   /**
    ** USER ACCOUNT PAGE
    **/
   div.container ul.account-list
   {
    list-style-type: none;
   } 

   div.container ul.account-list li
   {
    margin-bottom: 30px;
   }

   div.container ul.account-list li label
   {
    color: #999;
    font-size: 2em;
    padding-left: 3px;
   }

   div.container ul.account-list li input[type="text"].ember-text-field
   {
    border: none;
    border-bottom: 2px dotted lightgray;
    padding-left: 3px;
    color: #999;
    box-shadow: none;
    font-size: 2em;
   }


   /**
    ** CALENDAR VIEW PAGE
    **
    **/
    div.calendar-month-day
    {
      width: 14%;
      height: 9em;
      border: 1px solid #eee;
    }

    button.calendar-topbar-icon
    {
      width: 1em;
      background: transparent;
      border: none;
      margin: 0px;
      margin-top: -16px;

    }

    button.prev-button
    {
      float: left;
      margin-left: 10px;
    }

    button.next-button
    {
      float: right;
      margin-right: 10px;
    }

    .calendar-airdate
    {
      background: #dc2c0f;

    }

    .calendar-airdate a
    {
      color: white;
      font-weight: bold;
    }


   * {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

@media (max-width: 980px) { 
    .browse-item { width:100%; }
    .browse-item a img {width: 100%;}
    .browse-item .browse-item-rating {font-size: 5em; margin-top:0.4em;}
    .browse-item .browse-item-rating-progress{ height: 5em; }
    #search-area input[type="text"]{height: 1.02em;}
    
}